@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.main-wrapper {
  // height: 100vh;
  // display: inline-block;
  // position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  right: 0px;
  transition: width 0.2s;

  .control-tabs {
    z-index: 1000;
    height: 100%;
    width: 15%;
    position: static;
    background-color: white;

    .wrapper-control-button {
      flex: 1;
      justify-content: center;
      align-items: center;
      height: 30%;
    //  margin: 10% 5%;
      width: 90%;
    //  opacity: 0.7;
      transform:scale(0.7);
      .paneTabIcon {
        position: relative;
        transform:scale(0.7);
        padding-top: 10%;
        display: block !important;
        z-index: 2;
      }

      .paneTabLabel {
        position: relative;
        display: block;
        text-align: center;
          margin-top: -9%;
        font-size: 35px;
        font-family: 'Pathway Gothic One', sans-serif;
        z-index: 2;
      }


    }
  }

  .paneTabBg {
    position: absolute;
    width: 168%;
    margin-left: -30%;
    // margin-top: -45%;
    height: 168%;
    z-index: 1;
  }

  #paneColor-powder {
    background-color: #BFD8D2;
    margin-top: -15%;
  }

  #paneColor-peach {
    background-color: #DCC7AA;
    margin-top: 10%;
  }

  #paneColor-warm {
      background-color: #DF744A;
      margin-top: -45%;
  }


  .opened-wrapper {
    background-color: #FFF8DC;
    width: 85%;
    // position: static;
    // overflow-y: auto;

    .navigator-toggler {

      border-bottom-right-radius: 90px;
      border-top-right-radius: 90px;
      height: 90px;
      width: 45px;
      z-index: 1000;
      position: absolute;
      top: 50%;
      background-color: blue;

      .navigator-toggler-icon {
        top: 25%;
        height: 45px;
        width: 45px;
        position: absolute;
        transition: transform 0.5s;
      }

      .expanded {
        transform: rotate(180deg);
      }
    }

  }
}

.nav-visible {
  width: 100%;
}

.nav-hidden {
  width: 118%;
}
