.main-wrapper {
  // height: 100vh;
  // display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;

  .control-tabs {
    height: 100%;
    width: 20%;
    position: static;
    background-color: green;
    // display: inline-block;

    .wrapper-control-button {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30%

    }
  }

  .opened-wrapper {
    background-color: yellow;
    width: 80%;
    position: static;
    overflow-y: auto;
    // height: inherit;
  }
}
