.control-discover {
  height: 98vh; // for now
  background-color: #F0E7BB;
  $filterheight: 64px;

  .control-discover-filter {
    svg.selected {
      color: orange !important;
    }
  }


  // .control-discover-filter {
  //   // width: 30vw;
  //   height: $filterheight;
  //   border-radius: 3pt;
  //   margin: 0 auto;
  //   background-color: #DAE14E;
  //   box-shadow: 0px 7px 9px;
  //   z-index: 1;
  //   position: relative;
  // }height: 100%;width: 100%;position: absolute;top: 0px;left: 0px;overflow: hidden;/* color: blanchedalmond; */pointer-events: none;

  .control-discover-results {
    position: relative;
    height: calc(98vh - #{$filterheight});
    overflow-y: auto;
    text-align: center;
  }
}
