.control-discover {
  // max: 97vh; // for now
  background-color: #F0E7BB;
  $filterheight: 4vh;

  // .control-discover-filter {
  //   // width: 30vw;
  //   height: $filterheight;
  //   border-radius: 3pt;
  //   margin: 0 auto;
  //   background-color: #DAE14E;
  //   box-shadow: 0px 7px 9px;
  //   z-index: 1;
  //   position: relative;
  // }

  .appbar {
    // position: absolute !important;

  }

  .control-discover-results {
    // top: $filterheight;
    overflow-y: auto;
    text-align: center;
  }
}
