.control-discover {
  height: 100%;

  .loading-circle {
    top: 50%;
    left: 50%;
    position: relative;

    * {
      position: relative !important;
    }
  }

  .toggle-filter-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }

  .control-discover-filter {
    background: white;
    border-radius: 5px;
    position: absolute;
    right: 10%;
    transition: bottom 0.5s, opacity 0.5s, display;

    .interest-icon {
        width: 28px;
        height: 28px;
    }
    img.interest-icon {
       filter:grayscale(100%);
    }
    img.selected.interest-icon {
      filter: drop-shadow(2px 2px 2px black);
    }
  }

  .hidden {
    bottom: 10%;
    opacity: 0;
    z-index: -1;
  }

  .visible {
    bottom: 15%;
    opacity: 1;
    z-index: 50;
  }

  .control-discover-results {
    overflow-y: auto;
    text-align: center;
  }

  .blur {
    filter: blur(5px);
  }

}
.result {
  max-width: 300px;
  display: inline-block;
  margin: 40px;
  border: 3px solid #0D4D4D !important;
  background-color: #669999 !important;
  // resize: horizontal;
}
.userName {
  text-align: left;
  height: 20px !important;
  font-family: Roboto !important;
  font-style: italic;
  padding-bottom: 0px !important;
  bottom: 15px;
}
.img {
  height: 220px !important;
  width: 100%;
  object-fit: cover;
}
.speaks {
  background-color: #669999;
  background: #669999;
  text-align: left;
  font-family: Roboto !important;
  font-style: italic;
  font-size: 20px !important;
  text-decoration-color: #000000 !important;
  padding: 0px !important;
}
.languages {
  padding: 0px !important;
  text-align: left;
  bottom: 15px !important;
}
.cardDivider {
  background: #0D4D4D !important;
  background-color: #0D4D4D !important;
  padding: 1px !important;
}
.interests-img {
  height: 25px;
  width: 25px;
  padding: 5px;
  padding-bottom: 0px !important;
}
.interests {
  text-align: left !important;
}
.chatButton {
  z-index: 0 !important;
}
