.youMessage {
  // margin: 2;
  background-color: #00bcd4 !important;
  display: block !important;
  // float: right !important;
  margin-left: 50px !important;
}


.currentMsg {
  background-color: red !important;
}
